.link {
  text-decoration: none;
  color: inherit;
  font-size: 0.9rem;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 500;
  flex: 1;
  padding: 0.7rem 1.2rem;
  display: inline-block;
  width: 100%;
}

.logo-text {
  font-size: 1.5rem;
}

@media screen and (max-width: 48em) {
  .link {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
}
