.link {
  text-decoration: none;
  color: inherit;
  font-size: 0.9rem;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 500;
  width: 100%;
  height: 100%;
}

.logo-text {
  font-size: 1.5rem;
}

@media screen and (max-width: 48em) {
  .link {
    font-size: 1rem;
  }
}
