html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
}

#root {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.error-container h1 {
  font-size: 3rem;
}
